.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#info-to-app{
  display: flex;
  flex-direction: column;
  max-width: 33%;
}

.form-for-employers {
  padding: 5px;
  border: 2px solid gainsboro;
}
.card-of-employer{
  cursor: pointer;
  transition: 0.3s;
}
.selected-card{
  cursor: pointer;
  transition: 0.3s;
  background-color: gold;
}
.selected-card:hover{
  background-color: rgb(236, 201, 0);
}
.card-of-employer:hover{
  background-color: gold;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
